
<br>
<div class="w-50 p-3 mx-auto" style="background-color: #eee;">

<br>
<div class="card " *ngFor="let employee of employees" style="margin: 10px;">
    <div class="card-body" >
        <h5 class="card-title"> Name : {{employee.name}}</h5> <br>
        <div class="row vertical-align">
            <div>
              <img class="imageClass" [src]="employee.photoPath" (click)="onClick(employee.id)" /><br><br>
               Gender :{{employee.gender}} <br>
               Date of Birth : {{employee.dateOfBirth | date}} <br>
               Contact Preference :{{employee.contactPreference}} <br>
               Phone : {{employee.phoneNumber}} <br>
               Email : {{employee.email}} <br>
               Department : {{employee.department}} <br>

               <div [ngSwitch]="employee.department">
                <span *ngSwitchCase="1"> Help Desk </span>
                <span *ngSwitchCase="2"> HR </span>
                <span *ngSwitchCase="3"> Customer Management </span>
                <span *ngSwitchCase="4"> Employee Management </span>
                <span *ngSwitchDefault> N/A </span>
              </div>

               Is Active : {{employee.isActive}} <br>               
             </div>
        </div>

      
    </div>
</div>

</div>


