<br>
<div class="d-flex justify-content-center">

    <div class="w-75 p-3" style="background-color: rgb(231, 238, 194);border: solid;">
        <form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">
            <h2>Create Employee</h2> <br>

            <div class="form-group">
                <label for="fullName">Full Name</label>
                <input type="text" class="form-control" name="name" id="fullName" placeholder="Enter Full Name" ngModel required  #fullnameControl = "ngModel">
                <span *ngIf="fullnameControl.invalid && fullnameControl.touched" style="color: crimson;" > Please Enter Full Name </span>
            </div>
           
            <!-- Hello World -->

            <br>
            <!-- <h2>Field Level</h2> -->
            <!-- Form Validation Properties at field level  -->
            <!-- <div style="color: crimson;">
                touched Property : {{fullnameControl.touched}} <br>
                unTouched Property : {{fullnameControl.untouched}} <br>
                pristine Property : {{fullnameControl.pristine}} <br>
                dirty Property : {{fullnameControl.dirty}} <br>
                valid Property : {{fullnameControl.valid}} <br>
                Invalid Property : {{fullnameControl.invalid}} <br>
            </div>
            <br>
            <h3>Form Level</h3> -->
            <!-- Validation Properties at form level -->
            <!-- <div style="color: crimson;">
                touched Property : {{employeeForm.touched}} <br>
                unTouched Property : {{employeeForm.untouched}} <br>
                pristine Property : {{employeeForm.pristine}} <br>
                dirty Property : {{employeeForm.dirty}} <br>
                valid Property : {{employeeForm.valid}} <br>
                Invalid Property : {{employeeForm.invalid}} <br>
            </div> -->


            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="emailId" id="email" placeholder="Enter Full Name" ngModel  #emailControl="ngModel" [required]="contactPrefControl.value =='email'" email>
                <!-- <span *ngIf="emailControl.invalid && emailControl.touched" style="color: crimson;" > Email Id is Required </span> -->

                <!-- To Display Two different validation messages when email is empty and when email is invalid  -->
                <span *ngIf="emailControl.errors?.required &&emailControl.invalid" style="color: crimson;" > Email Id is Required </span>
                <span *ngIf="emailControl.errors?.email  &&emailControl.invalid" style="color: crimson;" > Email Id is Invalid </span>
            </div>
           
            <br>

            <div class="form-group">
                <label for="phoneNumber">PhoneNumber</label>
                <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" placeholder="Enter phoneNumber" ngModel  [required]="contactPrefControl.value =='phone'"  #phoneNocontrol="ngModel">
                <span *ngIf="phoneNocontrol.invalid " style="color: crimson;" > PhoneNumber Required </span>
            </div>
            <br>

            <label>Contact Preference</label><br>
            <div class="form-group form-check form-check-inline">
                <input class="form-check-input" type="radio" name="contactPref" id="phone" value="phone" ngModel required #contactPrefControl='ngModel'>
                <label class="form-check-label" for="Phone">
                    Phone
                </label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="contactPref" id="emailId" value="email" ngModel required #contactPrefControl='ngModel'>
                <label class="form-check-label" for="EmailId">
                    Email
                </label>
            </div>
            <span *ngIf="contactPrefControl.invalid && contactPrefControl.touched" style="color: crimson;" > Contact Preference Is Required </span>
            <br>
            <br>
            <label>Gender :</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="Male" value="male" checked ngModel required #genderControl='ngModel' >
                <label class="form-check-label" for="male">
                    Male
                </label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="Female" value="female" ngModel required #genderControl='ngModel'>
                <label class="form-check-label" for="female">
                    FeMale
                </label>
            </div>
            <span *ngIf="genderControl.invalid && genderControl.touched" style="color: crimson;" > Gender Field Is Required </span>
            <br>
            <br>
            <div class="form-check">
                <input class="form-check-input" type="checkbox"  name="isActiveCheck" id="isActiveCheck"
                   [(ngModel)]="isActive" [required]="isActive == null" #isActiveControl='ngModel'>
                <label class="form-check-label" for="defaultCheck1">
                    Is Active ?
                </label>
                <!-- <br>
                Is Active Value : {{isActive}} -->
                    <!-- First Time isActive Variable will be null , So nly when it is null then only we are binding req attribute dynamically -->
                    <!-- Once the check box is  checked or unchecked then it's value will be either true or false  -->
                <br>
                <span *ngIf="isActiveControl.touched && isActiveControl.errors?.required" style="color: red;">Is Active Required</span>
            </div>
            <br>

            <div class="form-group col-md-8">
                <label for="department">Department</label>

                <select id="department"   name="department" class="form-control" [(ngModel)]="defaultOption"  required #departmentControl='ngModel'>
                    <!--  we will remove hardcodded and and bind array 
              <option  value="1">HR Department</option>
              <option  value="2">Help Desk Department</option>
              <option  value="3">Management Department</option> -->
                    <option [ngValue]='null'>Select Department</option>
                    <option *ngFor="let dept of departments" ngValue="{{dept.id}}">{{dept.name}}</option>
                    <!-- In the above line you can also use property binding [value] = 'dept.id' -->
                </select>

                <span *ngIf="departmentControl.touched && departmentControl.invalid " style="color: red;">Department Is Required</span>
            </div>
            <br>
            <div class="form-group col-md-4">
                <label for="dateOfBirth">Date Of Birth</label>
                <input type="date" class="form-control" name="dateOfBirth" id="dateOfBirth"
                    placeholder="Enter Date Of Birth" ngModel>
            </div>
            <br>

            <div class="form-group">
                <label for="photoPath">Photo Path</label>
                <input type="text" class="form-control" name="photoPath" id="photoPath" placeholder="Enter Path"
                    [(ngModel)]='pathVal'>
            </div>
            <br>

            <div class="form-group">
                <button type="button" class="btn btn-primary" (click)='activateImage()'> {{showImage ? 'Hide':'Show'}} Preview </button>
            </div>

            <div class="form-group">
                 <img class="imageClass" [src]="pathVal" *ngIf="showImage" style="width: 100px; height: 100px;" />
            </div>


            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" name="password1" id="password" placeholder="Enter password" ngModel  required  #passwordControl="ngModel">
                <span *ngIf="passwordControl.errors?.required && passwordControl.touched " style="color: crimson;" > Password Required </span>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="text" class="form-control"  appConfirmEqualValidator="password1"   name="confirmPassword" id="confirmPassword" placeholder="Enter password" ngModel  required  #confirmPasswordControl="ngModel">
                <span *ngIf="confirmPasswordControl.errors?.required && confirmPasswordControl.touched " style="color: crimson;" >Confirm Password Required </span>

                <span *ngIf="confirmPasswordControl.errors?.notEqual && confirmPasswordControl.touched &&!confirmPasswordControl.errors?.required " style="color: crimson;" >Confirmed Password Does Not Match </span>
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled] ="employeeForm.invalid">Submit</button>
            </div>

        </form>

        <!-- Angular Generated Form Model :{{employeeForm.value | json}}   Give two Binding of ngModel -->

    </div>

</div>